.featureList
	display: flex
	flex-direction: row
	justify-content: space-between

.feature
	width: 30%
	text-align: center
	margin-bottom: 40px
	
	i
		margin-bottom: 20px
		font-size: 45px
		line-height: 45px
	
	.btn
		background-color: $white
		border:
			radius: 15px
			color: $white
		min-width: 100px
		font-weight: $bold
		margin-top: 10px
		color: $orange