.navAlertContainer
	position: absolute
	top: 0
	left: 0
	padding:
		left: 0
		right: 0
	z-index: 1

/*Overwrite Bootstrap default navbar*/
.navbar
	margin-bottom: 0
	border: 0
	width: 100%
	background-color: $quarterTransparent
	
	.navbar-toggler
		border: 0
		
	.navbar-nav a
		font-weight: $bold

	&-text
		display: none
		@include respond(tabletLandscape)
			display: block

	&-brand
		font-weight: $bold
	
nav li:last-child
	@include respond(tabletPortrait)
		display: none
		


	
